/** Simultaneously stimulating & relaxing. */

.containerheading {
  font-size: 30px;
}

/** Head massagers like the MindWisk... */
.headingintro {
  font-size: 18px;
  text-align: center;
  margin: 50px;
  margin: 50px 80px;
}




/** Benefits */


.benefitcontainer {
  font-size: 25px;
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0 auto; /* Center the container */
  width: 80%; /* Set a specific width for the container */
}

.benefitcontainer::before,
.benefitcontainer::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #787878;
  top: 50%;
}

.benefitcontainer::before {
  left: -60px; /* Position the line relative to the left side */
  width: calc(50% - 40px); /* Adjust the length of the line */
}

.benefitcontainer::after {
  right: -60px; /* Position the line relative to the right side */
  width: calc(50% - 40px); /* Adjust the length of the line */
}




/* * */

.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #708090;
  text-align: center;
}

/* Progress Bar, "Spreading thhe joy!", and Donate button */
.donatecontainer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.feelgoodheader {
  font-size: 25px;
}

.feelgoodcontainer {
  font-size: 18px;
  text-align: center;
  margin: 50px;
  margin: 50px 80px;
}