.aboutcontainer {
  font-family: Montserrat;
  font-size: 22px;
  color: #708090;
  text-align: center;
  position: relative;
  margin: 50px;
  line-height: 2;
}
h1 {
  position: relative;
  text-align: center;
  display: inline-block;
}
.h1-line {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}
.h1-line::before,
.h1-line::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  background-color: #787878;
  top: 50%;
  transform: translateY(-50%);
}
.h1-line::before {
  left: calc(-100% - 20px);
}
.h1-line::after {
  right: calc(-100% - 20px);
}
.aboutImage {
  width: 50%;
  height: auto;
}
.imageCaption {
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-top: 8px;
  margin-top: -70px;
}
